.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions .info-semester {
  margin-right: 20px;
  font-weight: 500;
  color: #fff;
}

.user-actions .action-icon {
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.25rem;
  color: #fff;
}

.user-actions .user-avatar-nz {
  margin-left: 15px;
  background-color: #3498db;
  cursor: pointer;
}